<%- include("../includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1 class="title">Password reset link successfully sent!</h1>
    <p>Check your inbox or</p>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
      >Open Gmail</a
    >
  </section>
</body>
<%- include("../includes/footer.ejs") %>
