<%- include("../includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1 class="title">Reset-password</h1>
    <div class="form-design">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage[0] %></span>
      <% }%>
      <form action="/auth/send-reset-token" method="POST">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <button>Reset Password</button>
      </form>
      <div class="form-action">
        <a href="/auth/login">login</a>
        <a href="/">Go back home</a>
      </div>
    </div>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
