<%- include("../includes/header.ejs") %>
<body>
  <section class="auth-form">
    <a href="/">Go back home</a>
    <h1 class="title">Reset password</h1>
    <form action="/auth/send-reset-token" method="POST">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage[0] %></span>
      <% }%>
      <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
      <div>
        <label for="email">email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <button>Reset Password</button>
    </form>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
