<%- include("../includes/header.ejs") %>
<body>
  <%- include("../includes/nav.ejs") %>
  <section class="auth-form">
    <h1 class="title">Subscription Success</h1>
    <div class="form-design">
      <h1>Subscription Success.</h1>
      <a href="/">go back home</a>
    </div>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
