<%- include("../includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1><%= error %></h1>
    <a href="/">got back home</a>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
