<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    h1 {
      font-family: "Times New Roman", Times, serif;
      text-align: center;
    }

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    p {
      line-height: 1.6rem;
      font-size: 20px;
      letter-spacing: 1px;
    }
  </style>
  <body>
    <h1>{{ postData.title }}</h1>
    <p>Author = {{ postData.userId.email }}</p>
    <img src="{{postData.imgUrl}}" alt="{{ postData.title }}" />
    <p>{{ postData.description }}</p>
  </body>
</html>
